{% extends 'core/base.html' %}

{% block title %}Novo Cadastro{% endblock %}

{% block content %}
    <h2>>> REGISTRO DE NOVO AGENTE</h2>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div style="margin-bottom: 15px;">
                <label>{{ field.label }}</label>
                <!-- Hackizinho para aplicar clase ou estilo aos campos do form padrão -->
                <br>
                {{field}}
                {% if field.help_text %}
                    <small style="color: #666; display: block;">{{ field.help.text }}</small>
                {% endif %}
                {% for error in fields.errors %}
                    <div style="color: var(--error-red);">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}

            <button type="submit">REGISTRAR E INICIAR</button>
    </form>
{% endblock %}